.back{

    background-color: lightgray;
    /* Uncomment this to set image */
    /* background-image: url(../../assets/workshops/back.jpg); */
    background-size: 100%;
    min-height: -webkit-fill-available;
    
    display: flex;
    flex-flow: column;
    
    margin-left: auto;
    margin-right: auto;
}

#view{
    min-height: -webkit-fill-available;
    padding-left: 100px;
    padding-right: 100px;
}

.tile{
    
    flex: 1 1;
    min-height: 300px;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    background: dodgerblue;

}

.tile:hover{
    background: royalblue;
}
.tile h3{
    margin: auto;
    display: block;
    text-align: center;
    color: antiquewhite;
}