.back{

    background-color: teal;
    /* Uncomment this to set image */
    /* background-image: url(../../assets/home/back.jpg); */
    background-size: 100%;

    height: -webkit-fill-available;
    
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }