<div class="back col" >

    <div class="title row">
            
       <mat-card class="col"> 
          <h2 style="text-align: center; color: crimson;"> EVENTS IS UNDER CONSTRUCTION </h2>
       </mat-card>
    </div>

    <br>

    <div id="toggle" class="row">
    <mat-button-toggle-group [(ngModel)]="selected" class="col"> 
      <mat-button-toggle value="true"> Show All </mat-button-toggle>
      <mat-button-toggle value="false"> Category </mat-button-toggle>
    </mat-button-toggle-group>
    </div>

    <br>

    <div id="view" [ngSwitch]="selected">
        <div id="AllView" *ngSwitchCase="'true'"> 

                <div class="row">
                        <div class="tile col" *ngFor="let event of events"> 
                                <h3 class="col-8 col-md-6">{{event.name}}</h3>
                        </div>
                </div>
           
        </div>
        
        <div id="CategoryView" *ngSwitchCase="'false'" > 
                <mat-card>
                        <h2> CULTURAL EVENTS </h2>
                        <div class="tile row" *ngFor="let event of cultEvents"> 
                                <h3 class="col-8 col-md-6">{{event.name}}</h3>
                        </div>
                </mat-card>
                
                <mat-card>
                        <h2> TECHNICAL EVENTS </h2>
                        <div class="tile row" *ngFor="let event of techEvents"> 
                                <h3 class="col-8 col-md-6">{{event.name}}</h3>
                        </div>
                </mat-card>
        </div>
    </div>

</div>