.back{

    background-color: teal;
    /* Uncomment this to set image */
    /* background-image: url(../../assets/contactus/back.jpg); */
    background-size: 100%;

    height: -webkit-fill-available;

    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

.formcontainer{
    margin : auto;
    margin-top: 10px;
    padding: 10px;
    width : 80%;
    background-color: #000000;
}

.form {
  width : 80%;
  margin : auto;
  padding : 10%;
  display: flex;
  flex-flow: column;
  background-color: #bfcfbf;
}

.full-inp {
    display : block;
    width : 70%;
    margin : auto;
    background-color: #bfffbf;
}

.inp {
    width: 100%;
}
