.back{

    background-color: teal;
    /* Uncomment this to set image */
    /* background-image: url(../../assets/timeline/back.jpg); */
    background-size: 100%;

    height: -webkit-fill-available;

    display: flex;
    flex-flow: column;
    flex-grow: 1;
    min-height: 100%;
    
}


#dayToggle{
    margin: auto;
    text-align: center;
}
h2{
    text-align: center;
}

.mat-button-toggle{
    background-color: #aaaaaa;
    text-align: center;
    
}

.mat-button-toggle-checked{
    background-color: #eeeeee;
    
}


.main{
    margin: auto;
    margin-top: 5px;
    min-width: 100%;
}

.container{
    display : flex;
    flex-flow: row;
}

.filters{
    width : 200px;
    display : flex;
    flex-flow: column;
    margin-bottom: 20px;
}

.filterCont{
    display : block;
    margin:auto;
    margin-top: 5px;
    text-align: center;
}

.content {
  text-align: center;
  background: #252827;
  min-width: 100%;
  min-height: 100%;
}
