<div class="back">
<!-- Page Content -->
    <div class="container">
        <!-- Team Members Row -->
        <div class="" *ngFor="let team of teams">
            <div class="row">
              <div class="col-lg-12">
                <div class="col-4"> </div>
                <h2 class="my-4 text-center">{{team.name}}</h2>
                <div class="col-4"> </div>
              </div>
            </div>
            
            <div class="row align-items-center" >
              <div class="col-lg col-sm text-center mb-4" *ngFor="let person of team.members">
                <img class="rounded-circle img-fluid d-block mx-auto" src="{{person.pic}}" alt="url(http://placehold.it/200x200)">
                <br>
                <h3>{{person.name}} | 
                  <small>{{person.title}}</small>
                </h3>
                <a href="{{person.fb_url}}" *ngIf="person.fb_url!='null'" ><img src="../../assets/contactus/facebook.svg" class="ico1" alt="FB" /></a>
                <a href="{{person.twitter_url}}" *ngIf="person.twitter_url !='null'" ><img src="../../assets/contactus/twitter.svg" class="ico1" alt="TW" /></a>
                <a href="{{person.insta_url}}" *ngIf="person.insta_url !='null'" ><img src="../../assets/contactus/instagram.svg" class="ico1" alt="IN" /></a>
                <div class="text-center" style="margin:0.5rem">
                    <p> <i class="fa fa-phone" aria-hidden="true"></i> {{person.number}} </p>
                </div>
              </div>
            </div>
            
            <hr>
        </div>     
      <!-- /.container -->
    </div>
  </div>