

<div class="team">
       
    <div class="container">
                
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">  
                <h2>Our Team</h2>
                <p>Tirutsava is not only a fest. It is hard-work of many people, who have worked day and night to make the event successful. Here we present few of them:</p><br>
            </div> 
        </div>
                   
<div id="vs-container" class="vs-container">

    <div class="vs-wrapper">
    
        <section id="section-3">
            <div class="container">
                <div class="team-leader-block clearfix">
                    <div class="team-leader-box-tohead">
                        <div class="team-leader"> 
                            <div class="team-leader-shadow"></div>
                            <img src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/28378200_1596478920405239_5537753111943009191_n.jpg?_nc_cat=108&oh=184f13038ecbdad63610a9cf8e44d292&oe=5C245BDF" height="300" width="300" alt="">
                            <ul>
                                <li><a href="https://www.facebook.com/pratik.agrawalla1" target="_blank" class="fa-facebook"></a></li>
                                <li><a href="mailto:cs16b020@iittp.ac.in" class="fa-envelope"></a></li>
                                <br /><br />
                                <li class="mob-number">943-915-4393</li>
                            </ul>
                        </div>
                        <h3 class="">Pratik Kumar Agrawalla</h3>
                        <span class="">Fest Head</span>
                    </div>	
                    <div class="team-leader-box-tohead">
                        <div class="team-leader"> 
                            <div class="team-leader-shadow"></div>
                            <img src="https://s3.ap-south-1.amazonaws.com/elasticbeanstalk-ap-south-1-899753036576/team_photos/advait.jpg" height="293" width="293" alt="">
                            <ul>
                                <li><a href="https://m.facebook.com/advaitnm?ref=bookmarks" target="_blank" class="fa-facebook"></a></li>
                                <li><a href="mailto:advaitnm@gmail.com" class="fa-envelope"></a></li>
                                <br /><br />
                                <li class="mob-number">989-115-4373</li>
                            </ul>
                        </div>
                        <h3 class="">Sai Ritesh</h3>
                        <span class="">Fest Head</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /vs-container -->

    
        <div class="row text-center">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="../assets/img/neelansh.jpg"  alt="card image"></p>
                                
                         

                                
                         
                        </div>
                        
                    </div>
                    <h2>Neelansh Mathur</h2>
                    <h4>Sponsorship Head</h4>
                    <div class="backside">
                        
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Sponsorship</h4>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                           
                        </div>
                    </div>
                </div>
            </div>
            </div>
                    
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../assets/img/aman.jpg"  alt="card image"></p>
                                    <h4 class="card-title">Aman Thakur</h4>
                                    
                                    
                             
                            </div>
                        </div>
                        <div class="backside">
                            
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sponsorship</h4>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                           
                        </div>
                    </div>
                </div>
                </div>
                    
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../assets/img/harthik.jpg"  alt="card image"></p>
                                        <h4 class="card-title">Miryala Harthik</h4>
                                        
                                        
                                 
                                </div>
                            </div>
                            <div class="backside">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Sponsorship</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
                    </div>
        </div>  <!-- row text-center -->



            <div class="row text-center">
                
                        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../assets/img/harthik.jpg"  alt="card image"></p>
                                        <h4 class="card-title">Atharva Gupta</h4>
                                        
                                        
                                 
                                </div>
                            </div>
                            <div class="backside">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Hospitality</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
                    </div>
                        
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="../assets/img/harthik.jpg"  alt="card image"></p>
                                            <h4 class="card-title">Mahesh Vidala</h4>
                                            
                                            
                                     
                                    </div>
                                </div>
                                <div class="backside">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Hospitality</h4>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-google"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                        </div>
                        </div>
            </div>  <!-- row text-center -->
                            
                                    
                                                   
                              
                                   
                     

                 
                               
                            <div class="row text-center">
                
                        
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="../assets/img/harthik.jpg"  alt="card image"></p>
                                                        <h4 class="card-title">Priyansh Sangule</h4>
                                                        
                                                        
                                                 
                                                </div>
                                            </div>
                                            <div class="backside">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Graphic Design</h4>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                        
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                            <div class="mainflip">
                                                <div class="frontside">
                                                    
                                                        <div class="card-body text-center">
                                                            <p><img class=" img-fluid" src="../assets/img/harthik.jpg"  alt="card image"></p>
                                                            <h4 class="card-title">Rutvik Bade</h4>
                                                            
                                                            
                                                     
                                                    </div>
                                                </div>
                                                <div class="backside">
                                                        <div class="card-body text-center mt-4">
                                                            <h4 class="card-title">Graphic Design</h4>
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-skype"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-google"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                            </div>  <!-- row text-center -->
                                            

                                   
                            <div class="row text-center">
                
                        
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="../assets/img/harthik.jpg"  alt="card image"></p>
                                                        <h4 class="card-title">Parth Dhabalia</h4>
                                                        
                                                        
                                                 
                                                </div>
                                            </div>
                                            <div class="backside">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Marketing Head</h4>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                        
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                            <div class="mainflip">
                                                <div class="frontside">
                                                    
                                                        <div class="card-body text-center">
                                                            <p><img class=" img-fluid" src="../assets/img/harthik.jpg"  alt="card image"></p>
                                                            <h4 class="card-title">Pratyusha Vudutala</h4>
                                                            
                                                            
                                                     
                                                    </div>
                                                </div>
                                                <div class="backside">
                                                        <div class="card-body text-center mt-4">
                                                            <h4 class="card-title">Marketing Head</h4>
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-skype"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-google"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                            </div>  <!-- row text-center -->

                      
                           
                            <div class="row text-center">
                
                        
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="../assets/img/harthik.jpg"  alt="card image"></p>
                                                        <h4 class="card-title">Anup Kulkarni</h4>
                                                        
                                                        
                                                 
                                                </div>
                                            </div>
                                            <div class="backside">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Content Development Head</h4>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                        
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                            <div class="mainflip">
                                                <div class="frontside">
                                                    
                                                        <div class="card-body text-center">
                                                            <p><img class=" img-fluid" src="../assets/img/harthik.jpg"  alt="card image"></p>
                                                            <h4 class="card-title">Siddhant Mohan</h4>
                                                            
                                                            
                                                     
                                                    </div>
                                                </div>
                                                <div class="backside">
                                                        <div class="card-body text-center mt-4">
                                                            <h4 class="card-title">Content Development Head</h4>
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-skype"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-google"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                            </div>  <!-- row text-center -->

                        
                           

                            <div class="row text-center">
                                
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                               
                                                   <img class="img-rounded" alt="team-photo" src="../assets/img/neelansh.jpg" height="60%" width="100%">
                                                   
                                                   <div class="team-member">
                                                
                                                   <h4>Neelansh Mathur</h4>
                                                   
                                                   <p>963-679-9254</p>
                                                
                                                   </div>
                                                   
                                                   <p class="social">
                                                       <a href="#"><span class="fa fa-facebook-square"></span></a>
                                                       <a href="#"><span class="fa fa-twitter-square"></span></a>
                                                       <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                                       <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                                   </p>
                                                                                                
                                     </div> <!--col-lg-4 -->
                                            
                                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                               
                                                   <img class="img-rounded" alt="team-photo" src="../assets/img/aman.jpg" height="60%" width="100%">
                                                   
                                                   <div class="team-member">
                                                
                                                   <h4>Aman Thakur</h4>
                                                   
                                                   <p>945-419-7941</p>
                                                
                                                   </div>
                                                   
                                                   <p class="social">
                                                       <a href="#"><span class="fa fa-facebook-square"></span></a>
                                                       <a href="#"><span class="fa fa-twitter-square"></span></a>
                                                       <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                                       <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                                   </p>
                                                                                                
                                     </div> <!--col-lg-4 -->
                                            
                                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                               
                                                   <img class="img-rounded" alt="team-photo" src="../assets/img/harthik.jpg" height="60%" width="100%"> 
                                                   
                                                   <div class="team-member">
                                                
                                                   <h4>Miryala Harthik</h4>
                                                   
                                                   <p>905-927-9247</p>
                                                
                                                   </div>
                                                   
                                                   <p class="social">
                                                       <a href="#"><span class="fa fa-facebook-square"></span></a>
                                                       <a href="#"><span class="fa fa-twitter-square"></span></a>
                                                       <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                                       <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                                   </p>
                                                                                                
                                        </div> <!-- col-lg-4 -->
                                           
                                </div>  <!-- row text-center -->
                               
                        
                



                
    </div>    
</div>



    





<!--

<div class="back">

    <div class="title" style="margin: auto">
       <mat-card>
          <h2> ABOUT US IS UNDER CONSTRUCTION </h2>
       </mat-card>
    </div>

    <div class="views">
        <mat-card class = "view" *ngFor="let com of aboutUs">
            <h1>{{com.name}}</h1>
            <br>
            <div class = "peoplecont">
                <div class = "tile" *ngFor="let person of com.members">
                    <img [src]="person.pic" alt = "why">
                    <h2>{{person.name}}</h2>
                    <h3>{{person.other}}</h3>
                </div>
            </div>
        </mat-card>
    </div>

</div>

-->