.back{

    background-color: white;
    /* Uncomment this to set image */
    /* background-image: url(../../assets/aboutus/back.jpg); */
    background-size: 100%; 
    height: 100%;

}

.ico1{
    width: 2rem;
    margin: 0.25rem;
}