

<div class="team">
       
    <div class="container">
                
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">  
                <h2>Our Team</h2>
                <p>Tirutsava is not only a fest. It is hard-work of many people, who have worked day and night to make the event successful. Here we present few of them:</p><br>
            </div> 
        </div>
                   
<div id="vs-container" class="vs-container">

    <div class="vs-wrapper">
    
        <section id="section-3">
            <div class="container">
                <div class="team-leader-block clearfix">
                    <div class="team-leader-box-tohead">
                        <div class="team-leader"> 
                            <div class="team-leader-shadow"></div>
                            <img src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/28378200_1596478920405239_5537753111943009191_n.jpg?_nc_cat=108&oh=184f13038ecbdad63610a9cf8e44d292&oe=5C245BDF" height="300" width="300" alt="">
                            <ul>
                                <li><a href="https://www.facebook.com/pratik.agrawalla1" target="_blank" class="fa-facebook"></a></li>
                                <li><a href="mailto:cs16b020@iittp.ac.in" class="fa-envelope"></a></li>
                                <br /><br />
                                <li class="mob-number">943-915-4393</li>
                            </ul>
                        </div>
                        <h3 class="">Pratik Kumar Agrawalla</h3>
                        <span class="">Fest Head</span>
                    </div>	
                    <div class="team-leader-box-tohead">
                        <div class="team-leader"> 
                            <div class="team-leader-shadow"></div>
                            <img src="https://s3.ap-south-1.amazonaws.com/elasticbeanstalk-ap-south-1-899753036576/team_photos/advait.jpg" height="293" width="293" alt="">
                            <ul>
                                <li><a href="https://m.facebook.com/advaitnm?ref=bookmarks" target="_blank" class="fa-facebook"></a></li>
                                <li><a href="mailto:advaitnm@gmail.com" class="fa-envelope"></a></li>
                                <br /><br />
                                <li class="mob-number">989-115-4373</li>
                            </ul>
                        </div>
                        <h3 class="">Sai Ritesh</h3>
                        <span class="">Fest Head</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /vs-container -->

    
        <div class="row text-center">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="../assets/img/neelansh.jpg"  alt="card image"></p>
                                
                         

                                
                         
                        </div>
                        
                    </div>
                    <h3 class="">Neelansh Mathur</h3>
                        <span class="">Sponsorship Head <br> <br> <br> </span>
                    <div class="backside">
                        
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Sponsorship</h4>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                           
                        </div>
                    </div>
                </div>
            </div>
            </div>
         
                    
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../assets/img/aman.jpg"  alt="card image"></p>
                                    
                                    
                                    
                             
                            </div>
                            
                        </div>
                        <h3 class="">Aman Thakur</h3>
                        <span class="">Sponsorship Head <br> <br> <br></span>
                        <div class="backside">
                            
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sponsorship</h4>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                           
                        </div>
                    </div>
                </div>
                </div>
                    
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../assets/img/harthik.jpg"  alt="card image"></p>
                                        
                                        
                                        
                                 
                                </div>
                            </div>
                            <h3 class="">Miryala Harthik</h3>
                        <span class="">Sponsorship Head <br> <br> <br></span>
                            <div class="backside">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Sponsorship</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
                    </div>
        </div>  <!-- row text-center -->



            <div class="row text-center">
                
                        
                <div class="col-sm-6 col-xs-12">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid"  src="../assets/img/atharva.jpg" height="50px" width="350px"> </p>
                                       
                                        
                                        
                                 
                                </div>
                            </div>
                            <h3 class="">Atharva Gupta</h3>
                        <span class="">Hospitality Head <br> <br> <br></span>
                            
                            <div class="backside1">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Hospitality</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
                    </div>
                        
                    <div class="col-sm-6 col-xs-12">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="../assets/img/mahesh.jpg" height="50px" width="350px"></p>
                                            
                                            
                                            
                                     
                                    </div>
                                </div>
                                <h3 class="">Mahesh Vidala</h3>
                        <span class="">Hospitality Head<br> <br> <br> </span>
                                <div class="backside1">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Hospitality</h4>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-google"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                        </div>
                        </div>
            </div>  <!-- row text-center -->
                            
                                    
                                                   
                              
                                   
                     

                 
                               
                            <div class="row text-center">
                
                        
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="../assets/img/priyansh.jpg"  height="50px" width="350px"></p>
                                                      
                                                        
                                                        
                                                 
                                                </div>
                                            </div>
                                            <h3 class="">Priyansh Sangule</h3>
                                            <span class="">Graphic Design Head <br> <br> <br> </span>
                                            <div class="backside" >
                                                
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Graphic Design</h4>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                        
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                            <div class="mainflip">
                                                <div class="frontside">
                                                    
                                                        <div class="card-body text-center">
                                                            <p><img class=" img-fluid" src="../assets/img/anup.jpg"  height="50px" width="350px"></p>
                                                            
                                                            
                                                     
                                                    </div>
                                                </div>
                                                <h3 class="">Anup Kulkarni</h3>
                                            <span class="">Content Development Head <br> <br>  <br></span>
                                                <div class="backside">
                                                        <div class="card-body text-center mt-4">
                                                            <h4 class="card-title">Content Development Head</h4>
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-skype"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-google"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                                    <div class="mainflip">
                                                        <div class="frontside">
                                                            
                                                                <div class="card-body text-center">
                                                                    <p><img class=" img-fluid" src="../assets/img/harthik.jpg"  height="50px" width="350px"></p>
                                                                  
                                                                    
                                                                    
                                                             
                                                            </div>
                                                        </div>
                                                        <h3 class="">Keerthi Vardhan</h3>
                                                        <span class="">Security Head<br> <br> <br> </span>
                                                        <div class="backside" >
                                                            
                                                                <div class="card-body text-center mt-4">
                                                                    <h4 class="card-title">Security</h4>
                                                                    <ul class="list-inline">
                                                                        <li class="list-inline-item">
                                                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                                <i class="fa fa-facebook"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item">
                                                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                                <i class="fa fa-twitter"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item">
                                                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                                <i class="fa fa-skype"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item">
                                                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                                <i class="fa fa-google"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                            </div>  <!-- row text-center -->
                                            

                                   
                            <div class="row text-center">
                
                        
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="../assets/img/parth2.jpg"  height="50px" width="350px"></p>
                                                        
                                                        
                                                        
                                                 
                                                </div>
                                            </div>
                                            <h3 class="">Parth Dhabalia</h3>
                                            <span class="">Marketing Head <br> <br>  <br></span>
                                            <div class="backside">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Marketing Head</h4>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                                <div class="mainflip">
                                                    <div class="frontside">
                                                        
                                                            <div class="card-body text-center">
                                                                <p><img class=" img-fluid" src="../assets/img/leela.jpg"  height="50px" width="350px"></p>
                                                                
                                                                
                                                                
                                                         
                                                        </div>
                                                    </div>
                                                    <h3 class="">Leela Krishna Mohan</h3>
                                                    <span class="">Fianance Head <br> <br>  <br></span>
                                                    <div class="backside">
                                                            <div class="card-body text-center mt-4">
                                                                <h4 class="card-title">Fianance Head</h4>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item">
                                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                            <i class="fa fa-facebook"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                            <i class="fa fa-twitter"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                            <i class="fa fa-skype"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                            <i class="fa fa-google"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div> 
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                            <div class="mainflip">
                                                <div class="frontside">
                                                    
                                                        <div class="card-body text-center">
                                                            <p><img class=" img-fluid" src="../assets/img/prat.jpg"  height="50px" width="350px"></p>
                                                           
                                                            
                                                            
                                                     
                                                    </div>
                                                </div>
                                                <h3 class="">Pratyusha Vudutala</h3>
                                            <span class="">Marketing Head <br> <br>  <br></span>
                                                <div class="backside">
                                                        <div class="card-body text-center mt-4">
                                                            <h4 class="card-title">Marketing Head</h4>
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-skype"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-google"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                            </div>  <!-- row text-center -->

                      
                           
                            <div class="row text-center">
                
                        
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="../assets/img/mohit.jpg"  alt="card image"></p>
                                                       
                                                        
                                                        
                                                 
                                                </div>
                                            </div>
                                            <h3 class="">Mohit Gautam</h3>
                                            <span class="">Event Management Head <br> <br>  <br></span>
                                            <div class="backside">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Event Management Head</h4>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                        
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                            <div class="mainflip">
                                                <div class="frontside">
                                                    
                                                        <div class="card-body text-center">
                                                            <p><img class=" img-fluid" src="../assets/img/kiran.jpg"  alt="card image"></p>
                                                            
                                                            
                                                            
                                                     
                                                    </div>
                                                </div>
                                                <h3 class="">Kiran Jyothi Guntur</h3>
                                                <span class="">Creative Cell Head <br> <br>  <br></span>
                                                <div class="backside">
                                                        <div class="card-body text-center mt-4">
                                                            <h4 class="card-title">Creative Cell Head</h4>
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-skype"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                        <i class="fa fa-google"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                                    <div class="mainflip">
                                                        <div class="frontside">
                                                            
                                                                <div class="card-body text-center">
                                                                    <p><img class=" img-fluid" src="../assets/img/vishnu.jpg"  alt="card image"></p>
                                                                   
                                                                    
                                                                    
                                                             
                                                            </div>
                                                        </div>
                                                        <h3 class="">VishnuDev Choudhary</h3>
                                                        <span class="">Technical Head<br> <br>  <br></span>
                                                        <div class="backside">
                                                                <div class="card-body text-center mt-4">
                                                                    <h4 class="card-title">Event Management Head</h4>
                                                                    <ul class="list-inline">
                                                                        <li class="list-inline-item">
                                                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                                <i class="fa fa-facebook"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item">
                                                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                                <i class="fa fa-twitter"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item">
                                                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                                <i class="fa fa-skype"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item">
                                                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                                <i class="fa fa-google"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                            </div>  <!-- row text-center -->

                        
                           

                



                
    </div>    
</div>



    





