<div class="back">

    <div class="title">
       <mat-card>
            <h2 style="text-align: center; color: crimson;"> GALLERY IS UNDER CONSTRUCTION </h2>
       </mat-card>
    </div>
    <br>
    <div id="view">
        <div class="event" *ngFor="let strip of gallery">
            <div class="days">
                    <h4>{{strip.name}}</h4>

            </div>
            <div class="strip">
                <button mat-fab class='nav'>Prev</button>
            
                        <div class = "card" >

                            
                                
                
                    <div class="tile" *ngFor="let img of images"> 
                            
                    </div>
                    
                
                </div>
            <button mat-fab class='nav'>Next</button>
            </div>
        </div>
    </div>
</div>