<div class="back">

    <div class="title">
       <mat-card >
          <h2 style="text-align: center;">Gallery is under Construction</h2>
       </mat-card>
    </div>

    <div class = "container">
        <div class="Toggle">
             <br>
        <mat-button-toggle (click) = "Day1()" class="tile" [class.active]="filterBy=='all'"(click)="filterBy='all'">
            Day 1
        </mat-button-toggle>
            <br>
        <mat-button-toggle class="tile" [class.active]="filterBy=='boats'"(click)="filterBy='boats'">
            Day 2
        </mat-button-toggle>
            <br>
        <mat-button-toggle class="tile">
            Day 3
        </mat-button-toggle>
            <br>
        <mat-button-toggle class="tile">
            Day 4
        </mat-button-toggle>
            <br>
        
                
        </div>
        <hr>
        <div class = "leftBox" *ngIf = "displayName">
            <ul id="thumbnailsList">
                <li *ngFor="let image of visibleImages" >
                    <a (click)="modalOpen(image)">
                        <img id="current"  src="{{image.url}}" class="image leftImage">
                    </a>
                </li>
            </ul>

        </div>

        <hr>

        <div class = "rightBox" *ngIf = "displayName">
            <ul id="thumbnailsList">
                <li *ngFor="let image of visibleImages2">
                    <a  >
                        <img  src="{{image.url}}" (click)="modalOpen(image)" class="image rightImage">
                    </a>
                </li>
            </ul>
        </div>

        <div class= "modal" *ngIf = "modal">
            <div class="navbuttons">
                    <mat-button-toggle (click) = "back()" class="pre">
                            Back
                         </mat-button-toggle>
                             <br>
                         <mat-button-toggle class="next" (click)="next()">
                            Next
                         </mat-button-toggle>
            </div>
                
            
            <img src={{path}} class="modal-image">
        </div>
    </div>

   
   
   
        

   
    
    
        

</div>