<div class="back">

    <div class="title">
       <mat-card>
            <h2 style="text-align: center; color: crimson;"> GALLERY IS UNDER CONSTRUCTION </h2>
       </mat-card>
    </div>
    <br>
    <div id="view">
        <div class="days" *ngFor="let strip of gallery">
            <mat-card class="days">
                    <h4>{{strip.name}}</h4>

            </mat-card>
            <div class="strip">
                <button>Prev</button>
            
                        <mat-card class = "card" >

                            
                                
                
                    <div class="tile" *ngFor="let img of images"> 
                            <h3 class="thumbnail">{{img.name}}</h3>
                    </div>
                    
                
            </mat-card>
            <button>Next</button>
            </div>
        </div>
    </div>
</div>