<!-- Default form register -->
<div class="back">
  <div class="row align-items-center">
    <div class="col"></div>
    <form class="text-center border border-light p-5 cl1 col-8  mainStuff">

      <p class="h2 mb-3"> Register Your Team </p>
      <div class="form-row mb-3">
          <div class="col">
              <!-- Team Name -->
              
              <input type="text" [(ngModel)]="team_name" name="teamname" class="form-control" placeholder="Team Name" required >
             
            </div>
      </div>

      <p class="h4 mb-1">Mentor Details</p>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
            
            <input type="text" [(ngModel)]="mentor_name" name="mentorName" class="form-control" placeholder="Name" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input type="text" [(ngModel)]="mentor_email" name="mentor_email" id="Mentoremail" class="form-control" placeholder="Email-id" required>
        </div>
        <div class="col-12 col-lg-4 mb-4">
            
          <input type="text" [(ngModel)]="mentor_phone" name="mentor_phone" class="form-control" placeholder="Phone Number" required>
        </div>
      </div>

      <p class="h4 mb-3">Team Members</p>
      <p class="h6 mb-2">Member 1</p>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
          
          <input [(ngModel)]="memName1" name="memName1" type="text"  class="form-control" placeholder="Name" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memEmail1" name="memEmail1" type="text" id="m1Email" class="form-control" placeholder="Email-id" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memUsername1" name="memUsername1" type="text" id="m1Username" class="form-control" placeholder="Username" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memPhone1" name="memPhone1" type="text" id="m1Number" class="form-control" placeholder="Phone Number" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input type="text" [(ngModel)]="memInsti1" name="memInsti1" class="form-control" placeholder="Institute" required>
        </div>
        <div class="col-12 col-lg-4 mb-4">
            
          <input type="text" [(ngModel)]="memQual1" name="memQual1" class="form-control" placeholder="Qualification" required>
        </div>
      </div>

      <p class="h6 mb-2">Member 2</p>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
          
          <input [(ngModel)]="memName2" name="memName2" type="text"  class="form-control" placeholder="Name" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memEmail2" name="memEmail2" type="text" id="m2Email" class="form-control" placeholder="Email-id" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memUsername2" name="memUsername2" type="text" id="m2Username" class="form-control" placeholder="Username" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memPhone2" name="memPhone2" type="text" id="m2Number" class="form-control" placeholder="Phone Number" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input type="text" [(ngModel)]="memInsti2" name="memInsti2" class="form-control" placeholder="Institute" required>
        </div>
        <div class="col-12 col-lg-4 mb-4">
            
          <input type="text" [(ngModel)]="memQual2" name="memQual2" class="form-control" placeholder="Qualification" required>
        </div>
      </div>

      <p class="h6 mb-2">Member 3</p>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
          
          <input [(ngModel)]="memName3" name="memName3" type="text"  class="form-control" placeholder="Name" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memEmail3" name="memEmail3" type="text" id="m3Email" class="form-control" placeholder="Email-id" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memUsername3" name="memUsername3" type="text" id="m3Username" class="form-control" placeholder="Username" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memPhone3" name="memPhone3" type="text" id="m3Number" class="form-control" placeholder="Phone Number" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input type="text" [(ngModel)]="memInsti3" name="memInsti3" class="form-control" placeholder="Institute" required>
        </div>
        <div class="col-12 col-lg-4 mb-4">
            
          <input type="text" [(ngModel)]="memQual3" name="memQual3" class="form-control" placeholder="Qualification" required>
        </div>
      </div>

      <p class="h6 mb-2">Member 4</p>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
          
          <input [(ngModel)]="memName4" name="memName4" type="text"  class="form-control" placeholder="Name" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memEmail4" name="memEmail4" type="text" id="m4Email" class="form-control" placeholder="Email-id" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memUsername4" name="memUsername4" type="text" id="m4Username" class="form-control" placeholder="Username" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memPhone4" name="memPhone4" type="text" id="m4Number" class="form-control" placeholder="Phone Number" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input type="text" [(ngModel)]="memInsti4" name="memInsti4" class="form-control" placeholder="Institute" required>
        </div>
        <div class="col-12 col-lg-4 mb-4">
            
          <input type="text" [(ngModel)]="memQual4" name="memQual4" class="form-control" placeholder="Qualification" required>
        </div>
      </div>

      <p class="h6 mb-2">Member 5</p>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
          
          <input [(ngModel)]="memName5" name="memName5" type="text"  class="form-control" placeholder="Name" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memEmail5" name="memEmail5" type="text" id="m5Email" class="form-control" placeholder="Email-id" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memUsername5" name="memUsername5" type="text" id="m5Username" class="form-control" placeholder="Username" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
            
          <input [(ngModel)]="memPhone5" name="memPhone5" type="text" id="m5Number" class="form-control" placeholder="Phone Number" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
            
          <input type="text" [(ngModel)]="memInsti5" name="memInsti5" class="form-control" placeholder="Institute" required>
        </div>
        <div class="col-12 col-lg-4 mb-4">
            
          <input type="text" [(ngModel)]="memQual5" name="memQual5" class="form-control" placeholder="Qualification" required>
        </div>
      </div>

      <!-- Sign up button -->
      <button class="btn btn-info my-4 btn-block" type="button" (click)="addUser()">Register</button>
      {{response}}
    </form>
    <div class="col"></div>
  </div>
</div>
<!-- Default form register -->