<!-- Default form register -->
<div class="back">
  <div class="row align-items-center">
    <div class="col"></div>
    <form class="text-center border border-light p-5 cl1 col-8  mainStuff">

      <p class="h2 mb-3">Register Your Team</p>
      <div class="form-row mb-3">
          <div class="col">
              <!-- Team Name -->
              <input type="text" id="teamName" class="form-control" placeholder="Team Name" required>
          </div>
      </div>

      <p class="h4 mb-1">Mentor Details</p>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
            <input type="text" id="mentorName" class="form-control" placeholder="Name" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <input type="text" id="Mentoremail" class="form-control" placeholder="Email-id" required>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <input type="text" id="Mentornumber" class="form-control" placeholder="Phone Number" required>
        </div>
      </div>

      <p class="h4 mb-3">Team Members</p>
      <p class="h6 mb-2">Member 1</p>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
          <input type="text" id="m1Name" class="form-control" placeholder="Name" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <input type="text" id="m1Email" class="form-control" placeholder="Email-id" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <input type="text" id="m1Username" class="form-control" placeholder="Username" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-lg-4 mb-2">
          <input type="text" id="m1Number" class="form-control" placeholder="Phone Number" required>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <input type="text" id="m1Institute" class="form-control" placeholder="Institute" required>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <input type="text" id="m1qualif" class="form-control" placeholder="Qualification" required>
        </div>
      </div>

      <p class="h6 mb-2">Member 2</p>
      <div class="form-row mb-2">
        <div class="col-12 col-lg-4">
          <input type="text" id="m2Name" class="form-control" placeholder="Name">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m2Email" class="form-control" placeholder="Email-id">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m2Username" class="form-control" placeholder="Username">
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="col-12 col-lg-4">
          <input type="text" id="m2Number" class="form-control" placeholder="Phone Number">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m2Institute" class="form-control" placeholder="Institute">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m2qualif" class="form-control" placeholder="Qualification">
        </div>
      </div>

      <p class="h6 mb-2">Member 3</p>
      <div class="form-row mb-2">
        <div class="col-12 col-lg-4">
          <input type="text" id="m3Name" class="form-control" placeholder="Name">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m3Email" class="form-control" placeholder="Email-id">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m3Username" class="form-control" placeholder="Username">
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="col-12 col-lg-4">
          <input type="text" id="m3Number" class="form-control" placeholder="Phone Number">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m3Institute" class="form-control" placeholder="Institute">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m3qualif" class="form-control" placeholder="Qualification">
        </div>
      </div>

      <p class="h6 mb-2">Member 4</p>
      <div class="form-row mb-2">
        <div class="col-12 col-lg-4">
          <input type="text" id="m4Name" class="form-control" placeholder="Name">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m4Email" class="form-control" placeholder="Email-id">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m4Username" class="form-control" placeholder="Username">
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="col-12 col-lg-4">
          <input type="text" id="m4Number" class="form-control" placeholder="Phone Number">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m4Institute" class="form-control" placeholder="Institute">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m4qualif" class="form-control" placeholder="Qualification">
        </div>
      </div>

      <p class="h6 mb-2">Member 5</p>
      <div class="form-row mb-2">
        <div class="col-12 col-lg-4">
          <input type="text" id="m5Name" class="form-control" placeholder="Name">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m5Email" class="form-control" placeholder="Email-id">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m5Username" class="form-control" placeholder="Username">
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="col-12 col-lg-4">
          <input type="text" id="m5Number" class="form-control" placeholder="Phone Number">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m5Institute" class="form-control" placeholder="Institute">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m5qualif" class="form-control" placeholder="Qualification">
        </div>
      </div>

      <p class="h6 mb-2">Member 6</p>
      <div class="form-row mb-2">
        <div class="col-12 col-lg-4">
          <input type="text" id="m6Name" class="form-control" placeholder="Name">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m6Email" class="form-control" placeholder="Email-id">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m6Username" class="form-control" placeholder="Username">
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="col-12 col-lg-4">
          <input type="text" id="m6Number" class="form-control" placeholder="Phone Number">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m6Institute" class="form-control" placeholder="Institute">
        </div>
        <div class="col-12 col-lg-4">
          <input type="text" id="m6qualif" class="form-control" placeholder="Qualification">
        </div>
      </div>

      <!-- Sign up button -->
      <button class="btn btn-info my-4 btn-block" type="submit">Register</button>

    </form>
    <div class="col"></div>
  </div>
</div>
<!-- Default form register -->