<!DOCTYPE html>

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Tirutsava</span>

    <span class="example-spacer"></span>

    <a routerLink="home">       <button mat-button>Home</button>        </a>
    <a routerLink="events">     <button mat-button>Events</button>      </a>
    <a routerLink="workshops">  <button mat-button>Workshops</button>   </a>
    <a routerLink="proshows">   <button mat-button>Pro-Show</button>    </a>
    <a routerLink="timeline">   <button mat-button>Timeline</button>    </a>
    <a routerLink="gallery">    <button mat-button>Gallery</button>     </a>
    <a routerLink="aboutus">    <button mat-button>AboutUs</button>     </a>
    <a routerLink="contactus">  <button mat-button>ContactUs</button>   </a>
  </mat-toolbar-row>
</mat-toolbar>
-->


<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark" #menu>

  <a routerLink="home">
    <img src="../assets/home/LogoTrans1.png" alt="Logo" class="tiruLogo  img-responsive" >
  </a>
  <a class="navbar-brand" routerLink="home" appCloseMenu [menu]="menu">
    <img src = "../assets/icons/tirulogo.png" alt = "Tirutsava" class="logotext img-responsive">
  </a>

  <div style="flex: 100">
   
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="align-content: flex-end" #menu>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="events" appCloseMenu [menu]="menu">
          <!--img src = "../assets/icons/my-icons-collection/svg/007-wrench.svg" alt = "EVENT" class="icon"-->
          Events
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="workshops" appCloseMenu [menu]="menu">
          <!--img src = "../assets/icons/my-icons-collection/svg/tools.svg" alt = "WORKSHOP" class="icon"-->
          Workshops
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="proshows" appCloseMenu [menu]="menu">
          <!--img src = "../assets/icons/my-icons-collection/svg/ticket.svg" alt = "PROSHOWS" class="icon"-->
          Proshows
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="timeline" appCloseMenu [menu]="menu">
          <!--img src = "../assets/icons/my-icons-collection/svg/timeline.svg" alt = "TIMELINE" class="icon"-->
          Timeline
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <!-- <li class="nav-item active float-right">
        <a class="nav-link" routerLink="gallery" appCloseMenu [menu]="menu">
          <i class="fa fa-picture-o"></i>
          Gallery
          <span class="sr-only">(current)</span>
          </a>
      </li> -->
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="archive" appCloseMenu [menu]="menu">
          Archive
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="aboutus" appCloseMenu [menu]="menu">
          <!--img src = "../assets/icons/my-icons-collection/svg/team.svg" alt = "ABOUTUS" class="icon"-->
          AboutUs
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="contactus" appCloseMenu [menu]="menu">
          <!--img src = "../assets/icons/my-icons-collection/svg/speech-bubble.svg" alt = "CONTACTUS" class="icon"-->
          Contact Us
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="#" appCloseMenu [menu]="menu">
          <!--img src = "../assets/icons/my-icons-collection/svg/investor.svg" alt = "SPONSORS" class="icon"-->
          Sponsor
          <span class="sr-only">(current)</span>
          </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>