<!DOCTYPE html>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Tirutsava</span>

    <span class="example-spacer"></span>

    <a routerLink="home">       <button mat-button>Home</button>        </a>
    <a routerLink="events">     <button mat-button>Events</button>      </a>
    <a routerLink="workshops">  <button mat-button>Workshops</button>   </a>
    <a routerLink="proshows">   <button mat-button>Pro-Show</button>    </a>
    <a routerLink="timeline">   <button mat-button>Timeline</button>    </a>
    <a routerLink="gallery">    <button mat-button>Gallery</button>     </a>
    <a routerLink="aboutus">    <button mat-button>AboutUs</button>     </a>
    <a routerLink="contactus">  <button mat-button>ContactUs</button>   </a>
  </mat-toolbar-row>
</mat-toolbar>
-->


<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark" #menu id="topofPageNav">

  <a routerLink="home">
    <img src="../assets/home/LogoTrans1.png" alt="Logo" class="tiruLogo  img-responsive" >
  </a>
  <a class="navbar-brand" routerLink="home" appCloseMenu [menu]="menu">
    <img src = "../assets/icons/tirulogo.png" alt = "Tirutsava" class="logotext img-responsive">
  </a>
  

  <div style="flex: 100">
   
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="align-content: flex-end" #menu>
    <ul class="navbar-nav mr-auto">
      <!--
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="events" appCloseMenu [menu]="menu">
          Events
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="workshops" appCloseMenu [menu]="menu">
          Workshops
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="proshows" appCloseMenu [menu]="menu">
          Proshows
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="timeline" appCloseMenu [menu]="menu">
          Timeline
          <span class="sr-only">(current)</span>
          </a>
      </li>
    -->
      <!-- <li class="nav-item active float-right">
        <a class="nav-link" routerLink="gallery" appCloseMenu [menu]="menu">
          <i class="fa fa-picture-o"></i>
          Gallery
          <span class="sr-only">(current)</span>
          </a>
      </li> -->
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="archive" appCloseMenu [menu]="menu">
          Archive
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="aboutus" appCloseMenu [menu]="menu">
          <!--img src = "../assets/icons/my-icons-collection/svg/team.svg" alt = "ABOUTUS" class="icon"-->
          AboutUs
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="contactus" appCloseMenu [menu]="menu">
          <!--img src = "../assets/icons/my-icons-collection/svg/speech-bubble.svg" alt = "CONTACTUS" class="icon"-->
          Contact Us
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="mad" appCloseMenu [menu]="menu">
          <!--img src = "../assets/icons/my-icons-collection/svg/speech-bubble.svg" alt = "CONTACTUS" class="icon"-->
          MadAboutIdeas
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <!--
      <li class="nav-item active float-right">
        <a class="nav-link" routerLink="#" appCloseMenu [menu]="menu">
          Sponsor
          <span class="sr-only">(current)</span>
          </a>
      </li>
    -->
    </ul>
  </div>
</nav>

<router-outlet (activate)="gotoTop($event)"></router-outlet>

<div class="footer-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h3>ABOUT Tirutsava</h3>
        <div class="footer-logo"><img src="../assets/icons/CombinedLogo2.svg" alt="" class="footLogo"></div>
        <p>"Technically Brilliant and Culturally Vibrant!"</p>
      </div>
      <div class="col-md-2 col-sm-6">
        <h3>Quick  LInks</h3>
        <ul class="footer-links">
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="archive">Archive</a></li>
          <li><a routerLink="aboutus">About Us</a></li>
          <li><a routerLink="contactus">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>MAIN CATEGORIES</h3>
        <ul class="footer-category">
          <li><a href="#.">Electronics</a></li>
          <li><a href="#.">Vehicles</a></li>

        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>MAIN CATEGORIES</h3>
        <div class="address">Lorem # 38, Ispum Hill, Lorem, WA 12345 </div>
        <div class="info"><i class="fa fa-phone" aria-hidden="true"></i> <a href="#.">  (777) 123 4567</a></div>
        <div class="info"><i class="fa fa-fax" aria-hidden="true"></i> <a href="#.">  (123) 456 7890</a></div>
      </div>
    </div>
    <div class="copyright">Copyright © 2017 Tirutsava - All Rights Reserved.</div>
  </div>
</div>