<div class="back col-12">
  <!-- HEADING -->
  

  <div class="jumbotron">
    <div class="row align-items-center"> 
      <div class="col"></div>
      <div class="col-6 heading"><h1>MAD ABOUT IDEAS</h1>
        <p><a class="btn btn-primary btn-lg" routerLink="../madform" role="button">Register</a></p> 
      </div>
      <div class="col"></div>
    </div>  
    
    </div>
  <!-- <a class="link link--kukuri" href="#" data-letters="Kukuri">Kukuri</a> -->

  <div class="container">
  <ul class="nav nav-pills row nav-justified" >
      <li class="active col tab"><a data-toggle="tab" href="#home" data-letters="About" class=" link link--kukuri ">About</a></li>
      <li class="col tab"><a data-toggle="tab" href="#menu1" data-letters="Rules" class=" link link--kukuri ">Rules</a></li>
      <li class="col tab"><a data-toggle="tab" href="#menu2" data-letters="Contact" class=" link link--kukuri ">Contact</a></li>
      <li class="col tab"><a data-toggle="tab" href="#menu3" data-letters="Venue" class=" link link--kukuri ">Venue</a></li>
  </ul>

  <div class="tab-content" style="margin: 2.5em">
      <div id="home" class="tab-pane fade in active">

        <div class="container">
          <p>About goes here</p>
        </div>
      </div>

      <div id="menu1" class="tab-pane fade">
        <div class="container">
          <p>Rules go here</p>
        </div>
      </div>

      <div id="menu2" class="tab-pane fade">
        <div class="container">
          <p>Contacts go here</p>
        </div>
      </div>

      <div id="menu3" class="tab-pane fade">
        <div class="container">
          <p>Venue goes here</p>
        </div>
      </div>

  </div>
</div>

</div>