<div class="box">
  <div class="box1">
    <div class="ba">
    <h1 class="info2"><a routerLink="../madform" class="norm">REGISTER</a></h1>
    </div>
    <p class="text">
        ... choose to join the competition in any of the following categories:
        <br><br>1. Digital Infrastructure as a Utility to Every Citizen
        <br>2. Governance & Services on Demand
        <br>3. Digital Empowerment of Citizens
        
    </p>

    <p class="text3">
        What is your vision?
    </p>

    
  
  </div>
  
  <div class="box2">
    
    <div class="box3">
      <p class="text2">
          “Innovation accelerator“, to encourage participants to identify and develop original, innovative ideas.
      </p>

    </div>

   </div>
 


</div>
