<div class="back col-12">
  <!-- HEADING -->
  

  <!-- <div class="jumbotron" style="margin-top:1em;" >
    <div class="row align-items-center container img-fluid"  style="background-image: url('../../assets/events/ideas.png');  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;"> 
      <div class="col"></div>
      <div class="col-6 heading" ><h1>MAD ABOUT IDEAS</h1>
        <p><a class="btn btn-primary btn-lg" routerLink="../madform" role="button">Register</a></p> 
      </div>
      <div class="col"></div>
    </div>  
    
    </div> -->

  <div class="hero-image jumbotron" style="margin-top:15px ; padding: 6rem 2rem">
      <div class="hero-text">
        <h1>MAD ABOUT IDEAS</h1>
      </div>
  </div>


  <!-- <a class="link link--kukuri" href="#" data-letters="Kukuri">Kukuri</a> -->

  <div class="container">
  <ul class="nav nav-pills row nav-justified" >
      <li class="col tab"><a data-toggle="tab" href="#home" data-letters="About" class=" link link--kukuri ">About</a></li>
      <li class="col tab"><a data-toggle="tab" href="#menu1" data-letters="Rules" class=" link link--kukuri ">Rules</a></li>
      <li class="col tab"><a data-toggle="tab" href="#menu2" data-letters="Contact" class=" link link--kukuri ">Contact</a></li>
      <li class="col tab"><a data-toggle="tab" href="#menu3" data-letters="Venue" class=" link link--kukuri ">Venue</a></li>
  </ul>

  <div class="tab-content" style="margin: 2.5em">
      <div id="home" class="tab-pane fade show active">

        <div class="container">
          <p>To build an entrepreneur ecosystem and to encourage innovation, TIRUTSAVA-2019, “Mad About Ideas“ challenge in collaboration with IIT, Tirupati and 7inQ and StartAP, is designed to be an “Innovation accelerator“, to encourage participants to identify and develop original, innovative proposals on pressing social and/or environmental issues at the district, state, national or global level by individuals and teams across the respective universities or colleges of districts of Andhra Pradesh, and then find an innovative business oriented approach to solve them, thereby creating jobs and wealth.
          </p>
          <p>
            Based on the Digital India theme we have identified three broad categories of challenges and you can choose to join the competition in any of the following categories:
          </p>
            <ol>
            <li> Digital Infrastructure as a Utility to Every Citizen </li>
            <li> Governance & Services on Demand </li>
            <li> Digital Empowerment of Citizens </li>
            </ol>
            
        </div>
      </div>

      <div id="menu1" class="tab-pane fade">
        <div class="container">
          <p>The Mad About Ideas challenge is designed to be an “innovation accelerator” and to encourage participants to develop original, innovative proposals (versus detailed business plans) in the form of a two-page paper.
            The Challenge has two rounds, a Preliminary Round which is judged online, and a Final Round. Selected finalists will compete, in person on Saturday/Sunday, Feb 2nd/3rd 2019 in Tirupati, for cash prizes to help them launch their innovative idea.
          </p>
          <ul>
            <li>	Saturday, Dec 8th, 2018 – Deadline for online registration (intent to compete only) </li>
            <li>	Saturday, Dec 22nd, 2018 – Deadline for submission of two-page paper	</li>
            <li>	Saturday, Jan 19th, 2019 – Announcement of finalists (8 per track)	</li>
            <li>	Saturday/Sunday, Feb 2nd/3rd, 2019 – Final round	</li>
          </ul>
        </div>
      </div>

      <div id="menu2" class="tab-pane fade">
        <div class="container">
          <p>For any queries and issues, contact- Mohit Kumar (7675039900)
          </p>
        </div>
      </div>

      <div id="menu3" class="tab-pane fade">
        <div class="container">
          <p>First Round: Online</p>
          <p>Final Round: IIT Tirupati Campus</p>
        </div>
      </div>

  </div>
</div>

</div>