<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Tirutsava</span>

    <span class="example-spacer"></span>
    
    <!-- <a routerLink="/heroes">Heroes</a> -->
    <a routerLink="home">       <button mat-button>Home</button>        </a>
    <a routerLink="events">     <button mat-button>Events</button>      </a>
    <a routerLink="workshops">  <button mat-button>Workshops</button>   </a>
    <a routerLink="proshows">   <button mat-button>Pro-Show</button>    </a>
    <a routerLink="timeline">   <button mat-button>Timeline</button>    </a>
    <a routerLink="gallery">    <button mat-button>Gallery</button>     </a>
    <a routerLink="aboutus">    <button mat-button>AboutUs</button>     </a>
    <a routerLink="contactus">  <button mat-button>ContactUs</button>   </a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>