<div class="top back1">
  
      <!-- <div class="container ">
        <div class="row text-center text-lg-left">
        <div class="col-lg-4 col-md-4 col-12" *ngFor="let pic of pictures">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid " src="{{prefix}}{{pic}}" alt="">
          </a>
        </div>
        </div>
      </div> -->
  
      <div class="row align-items-center" >
          <div class="col-md-4 col-sm-12 text-center mb-4" *ngFor="let pic of pictures">
            <img class="img-fluid d-block mx-auto" src="{{prefix}}{{pic}}" alt="">
          </div>
        </div>
</div>