/*
.top{
    margin-top:10px;
}
img{
    margin-bottom: 10px;
}

.col-md-4{
    padding: 0px !important;
    margin: 0px !important;
}
    @media screen and (min-width: 768px){
        img {height: 510.667px; width: 766px;}
        .col-md-4{
            padding: 0px !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
    }

    @media screen and (min-width: 1057px){
        img {
            height: 400px; width: 600px;
        }
        .col-md-4{
            padding: 0px !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
    }

*/

img{
    margin-bottom: 10px;
}

.top{
    padding-top:10px;
}

.col-md-4{
    padding: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.back1{
    background-color: #252525;
}