<div class="back" >

        <div class="row align-items-center h-100 icons" > 
                <div class="col"></div>
                <div class="col-2"> 
                    <a href="https://www.facebook.com/tirutsava.IITTirupati/" target="_blank" rel="noopener noreferrer">
                        <img src="../../assets/contactus/facebook.svg" class="icon grow" id="fbi">
                    </a>
                </div>
                
                <div class="col-2"> 
                    <a href="https://twitter.com/tirutsava_iit/" target="_blank" rel="noopener noreferrer">
                        <img src="../../assets/contactus/twitter.svg" class="icon" id="twi">
                    </a>
                </div>
                
                <div class="col-2">
                    <a href="https://www.instagram.com/tirutsava/" target="_blank" rel="noopener noreferrer">
                        <img src="../../assets/contactus/instagram.svg" class="icon" id="ini">
                    </a>
                </div>

                <div class="col-2"> 
                    <a href="mailto:tirutsava@iittp.ac.in">
                        <img src="../../assets/contactus/mail2.svg" class="icon" id="twi">
                    </a>
                </div>
                <div class="col"></div>
        </div>

</div>

