<!-- <div class="back col align-items-center" style="align-items: center;">
        <div class="align-items-center" style="margin:auto;">
            <div class="row" style="margin: auto !important;"> 
                    <div class="col"></div>
                    <div class="col-2"> 
                        <a href="https://www.facebook.com/tirutsava.IITTirupati/" target="_blank" rel="noopener noreferrer">
                            <img src="../../assets/contactus/facebook.svg" class="icon grow" id="fbi">
                        </a>
                    </div>
                    
                    <div class="col-2"> 
                        <a href="https://twitter.com/tirutsava_iit/" target="_blank" rel="noopener noreferrer">
                            <img src="../../assets/contactus/twitter.svg" class="icon" id="twi">
                        </a>
                    </div>
                    
                    <div class="col-2">
                        <a href="https://www.instagram.com/tirutsava/" target="_blank" rel="noopener noreferrer">
                            <img src="../../assets/contactus/instagram.svg" class="icon" id="ini">
                        </a>
                    </div>

                    <div class="col-2"> 
                        <a href="mailto:tirutsava@iittp.ac.in">
                            <img src="../../assets/contactus/mail2.svg" class="icon" id="twi">
                        </a>
                    </div>
                    <div class="col"></div>
            </div>
        </div>
</div> -->

<div class="back col" style="align-items: center">
    <div class="content">
        <div class="row" style="margin: auto !important;"> 
            <div class="col"></div>
            <div class="col-2 grow"> 
                <a href="https://www.facebook.com/tirutsava.IITTirupati/" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/contactus/facebook.svg" class="icon grow" id="fbi">
                </a>
            </div>
            
            <div class="col-2 grow"> 
                <a href="https://twitter.com/tirutsava_iit/" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/contactus/twitter.svg" class="icon" id="twi">
                </a>
            </div>
            
            <div class="col-2 grow">
                <a href="https://www.instagram.com/tirutsava/" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/contactus/instagram.svg" class="icon" id="ini">
                </a>
            </div>

            <div class="col-2 grow"> 
                <a href="mailto:tirutsava@iittp.ac.in">
                    <img src="../../assets/contactus/mail2.svg" class="icon" id="twi">
                </a>
            </div>
            <div class="col"></div>
    </div>
    </div>
</div>