
.back{

    background-color: #252525;
    /* Uncomment this to set image */
    /* background-image: url(../../assets/contactus/back.jpg); */

    height: -webkit-fill-available;
    
}

.container{
    margin: 0 0 0 0 !important;
}

.row{
    margin: 0 0 0 0 !important;
}
.icons{
    position: relative;
    top:50%;
    height: 100px  !important;
}
