<div class="back" >

        <div class="row align-items-center h-100 icons" > 
                <div class="col-3"></div>
                <div class="col-2"> 
                    <img src="../../assets/contactus/facebook.svg" class="icon" id="fbi">
                </div>
                
                <div class="col-2"> 
                    <img src="../../assets/contactus/twitter.svg" class="icon" id="twi">
                </div>
                
                <div class="col-2"> 
                    <img src="../../assets/contactus/instagram.svg" class="icon" id="ini">
                </div>
                <div class="col-3"></div>
        </div>
</div>
