

<div class="team">
       
    <div class="container">
                
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">  
                <h2><span class="ion-minus"></span>Our Team<span class="ion-minus"></span></h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis  dis parturient montes, nascetur ridiculus </p><br>
            </div> 
        </div>
                   
<div id="vs-container" class="vs-container">

    <div class="vs-wrapper">
    
        <section id="section-3">
            <div class="container">
                <div class="team-leader-block clearfix">
                    <div class="team-leader-box-tohead">
                        <div class="team-leader"> 
                            <div class="team-leader-shadow"></div>
                            <img src="../../assets/img/boat_01.png" height="293" width="293" alt="">
                            <ul>
                                <li><a href="https://www.facebook.com/abhi.chouhan.07" target="_blank" class="fa-facebook"></a></li>
                                <li><a href="mailto:abhic114@gmail.com" class="fa-envelope"></a></li>
                                <br /><br />
                                <li class="mob-number">753-099-9827</li>
                            </ul>
                        </div>
                        <h3 class="">Abhishek Chouhan</h3>
                        <span class="">Hospitality Coordinator</span>
                    </div>	
                    <div class="team-leader-box-tohead">
                        <div class="team-leader"> 
                            <div class="team-leader-shadow"></div>
                            <img src="https://s3.ap-south-1.amazonaws.com/elasticbeanstalk-ap-south-1-899753036576/team_photos/advait.jpg" height="293" width="293" alt="">
                            <ul>
                                <li><a href="https://m.facebook.com/advaitnm?ref=bookmarks" target="_blank" class="fa-facebook"></a></li>
                                <li><a href="mailto:advaitnm@gmail.com" class="fa-envelope"></a></li>
                                <br /><br />
                                <li class="mob-number">989-115-4373</li>
                            </ul>
                        </div>
                        <h3 class="">Advait Bhagwat</h3>
                        <span class="">Hospitality Coordinator</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /vs-container -->
    
        <div class="row text-center">
                
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                       
                           <img class="img-rounded" alt="team-photo" src="https://images.pexels.com/photos/428331/pexels-photo-428331.jpeg?h=350&auto=compress&cs=tinysrgb" width="100%">
                           
                           <div class="team-member">
                        
                           <h4>John Doe</h4>
                           
                           <p>Web developer</p>
                        
                           </div>
                           
                           <p class="social">
                               <a href="#"><span class="fa fa-facebook-square"></span></a>
                               <a href="#"><span class="fa fa-twitter-square"></span></a>
                               <a href="#"><span class="fa fa-linkedin-square"></span></a>
                               <a href="#"><span class="fa fa-google-plus-square"></span></a>
                           </p>
                                                                        
             </div> <!--col-lg-4 -->
                    
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                       
                           <img class="img-rounded" alt="team-photo" src="https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?h=350&auto=compress&cs=tinysrgb" width="100%">
                           
                           <div class="team-member">
                        
                           <h4>Jack Doe</h4>
                           
                           <p>Web designer</p>
                        
                           </div>
                           
                           <p class="social">
                               <a href="#"><span class="fa fa-facebook-square"></span></a>
                               <a href="#"><span class="fa fa-twitter-square"></span></a>
                               <a href="#"><span class="fa fa-linkedin-square"></span></a>
                               <a href="#"><span class="fa fa-google-plus-square"></span></a>
                           </p>
                                                                        
             </div> <!--col-lg-4 -->
                    
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                       
                           <img class="img-rounded" alt="team-photo" src="https://images.pexels.com/photos/295821/pexels-photo-295821.jpeg?h=350&auto=compress&cs=tinysrgb" width="100%"> 
                           
                           <div class="team-member">
                        
                           <h4>James</h4>
                           
                           <p>CEO</p>
                        
                           </div>
                           
                           <p class="social">
                               <a href="#"><span class="fa fa-facebook-square"></span></a>
                               <a href="#"><span class="fa fa-twitter-square"></span></a>
                               <a href="#"><span class="fa fa-linkedin-square"></span></a>
                               <a href="#"><span class="fa fa-google-plus-square"></span></a>
                           </p>
                                                                        
                </div> <!-- col-lg-4 -->
                   
        </div>  <!-- row text-center -->
                
    </div>    
</div>

<!--

<div class="back">

    <div class="title" style="margin: auto">
       <mat-card>
          <h2> ABOUT US IS UNDER CONSTRUCTION </h2>
       </mat-card>
    </div>

    <div class="views">
        <mat-card class = "view" *ngFor="let com of aboutUs">
            <h1>{{com.name}}</h1>
            <br>
            <div class = "peoplecont">
                <div class = "tile" *ngFor="let person of com.members">
                    <img [src]="person.pic" alt = "why">
                    <h2>{{person.name}}</h2>
                    <h3>{{person.other}}</h3>
                </div>
            </div>
        </mat-card>
    </div>

</div>

-->