.back{

    background-color: teal;
    /* Uncomment this to set image */
    /* background-image: url(../../assets/aboutus/back.jpg); */
    /* background-size: 100%; */

    /* height: -webkit-fill-available; */

    display: flex;
    flex-flow: column;
    flex-grow: 1;
    padding-bottom: 2%;
}

.views{

    flex-flow: column;
}
.view{
    flex: 1 1;
    flex-flow: row;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 2%;
    margin-right:2%;
    margin-top: 15px;
}

.peoplecont {
    display : flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.tile{

    flex: 1 1 ;
    min-height: 300px;
    min-width: 350px;
    max-width: 400px;
    max-height: 300px;
    padding: 10px;
    margin: 10px;
    background: #efefef;

}

.tile h2{
    margin: auto;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.tile h3{
    margin: auto;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.tile img{
    display : block;
    margin: auto;
    width: 200px;
    height : 200px;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
}
