.back{

    background-color: #252525;
    /* Uncomment this to set image */
    /* background-image: url(../../assets/home/back.jpg); */
    background-size: 100%;

    height: -webkit-fill-available;
    
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

.logoAnim{
    height: 400px;
    width: 1472px;
    display: flex;
    flex-flow: row;
    margin: auto;
}

#logo{
    height: 100%;
}

.imglogo{
    height: 100%;
    width: auto;
}

#linelogo{
    height: 100%;
}

#thelog{
    height: 80%;
    width: auto;
    padding-top: 8%;
}
