.back{

    background-color: #252525;
    background-size: 100%;

    /* height: -webkit-fill-available; */

}

.col{
   padding: 0 0 0 0 !important;
}
.logoAnim{
    /* position: relative;
    top: 25%; */

    height: 200px;
    /* width: 1080px; */
    align-content: center;
    display: flex;
    flex-flow: row;
    margin: auto;
}

#logo{
    height: 100%;
}

.imglogo{
    height: 100%;
    align-content: flex-end;
    /* width: auto; */
}

#linelogo{
    height: 100%;
}

#thelog{
    height: 80%;
    width: auto;
    padding-top: 8%;
}

.col{
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}